<div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-center">

            <a class="uk-navbar-item uk-logo" href="#">SpagoThree</a>

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Fundamental</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#/f1">SimpleCubes</a></li>
                            <li><a href="#/f2">InteractiveCubes</a></li>
                            <li><a href="#/f3">SceneGraph</a></li>
                            <li><a href="#/f4">Texture</a></li>
                            <li><a href="#/f5">Light</a></li>
                            <li><a href="#/f6">Camera</a></li>
                            <li><a href="#/f7">Shadow1</a></li>
                            <li><a href="#/f8">Shadow2</a></li>
                            <li><a href="#/f9">Fog</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Extra</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#/miku1">MMD</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>